<%- include('../partials/header') %>

  <form action="/releases/<%= release.id %>" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= release.title %>" required>
    
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist" value="<%= release.artist %>" required>
    
    <label for="date">Release Date:</label>
    <input type="date" id="date" name="date" value="<%= release.date %>" required>
    
    <button type="submit">Update Release</button>
  </form>
</div>

<%- include('../partials/footer') %>

