<%- include("../partials/header.ejs") %>

<h1>Edit Release</h1>

<form action="/releases/<%= release._id %>?_method=PUT" method="POST">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= release.title %>" required>
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="artist" value="<%= release.artist %>" required>
  </div>
  <button type="submit">Update Release</button>
</form>

<%- include("../partials/footer.ejs") %>





















