<%- include("../partials/header.ejs") %>

<h1>Edit Release</h1>

<form action="/releases/<%= release._id %>?_method=PUT" method="POST">
  <label>Title:</label>
  <input type="text" name="title" value="<%= release.title %>" required>
  <label>Description:</label>
  <textarea name="description" required><%= release.description %></textarea>
  <label>Release Date:</label>
  <input type="date" name="releaseDate" value="<%= release.releaseDate.toISOString().split('T')[0] %>" required>
  <button type="submit">Update</button>
</form>

<%- include("../partials/header.ejs") %>


