<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= release.title %></h1>
  <p><%= release.description %></p>
  <a href="/releases/<%= release.id %>/edit">Edit</a>
  <a href="/releases">Back to All Releases</a>
</body>
</html>


</form>
<%- include('../partials/header') %>